@tailwind base;

@tailwind components;

@tailwind utilities;

.topNav {
    display: flex;
    width: 100%;
    position: fixed;
    margin: -5px 0 30vh 0;
    justify-content: space-between;
    align-items: center;
    background-color: #910404;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.body {
    margin: 5px 10% 5px 10%;
    padding: 12vh;
    
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 17px;
}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fixed{
    position: fixed;
}

.bottom-bar {
    display: flex;
    position: fixed;
    height: 55px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: 65%;
    border-radius: 5px;
    bottom: 10;
    
}

.room-card{
    display: flex;
    border:rgb(231, 228, 228);
    border-radius: 10px;
    height: 60px;
    margin: 10px 0 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    background-color: rgb(231, 228, 228);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
    z-index:-1

}

.room-card:hover{
    background-color: rgb(243, 180, 180);
    
}

.delete{
    flex: 1;
    position: relative;
    border: grey;
    border-radius: 10px;
    max-width: 85px;
    height: 50px;
    text-align: center;
    background-color:rgb(184, 255, 251);
    margin-left: 10px;
    
}

.delete:hover{
    background-color: rgb(134, 201, 197);
}

.room-card > h2{
    flex: 1;
}

.hidden {
    display: none;
}

.room-card > p {
    flex: 1;
    text-align: end;
}

.send{
    flex: 4;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px 0 10px 10px;
    margin-right:auto;
    margin-left: 10px;
    
}

.send-field {
    
    display: flex;
    padding-right: 40px;
    flex: 2;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    opacity: 70%;
    
    
}

.send-button{
    
    margin: auto;
    border: solid;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #910404;
    color: white;
    opacity: 80%;

    
}

.nav-links {
    display: flex;
}

.nav-button {
    flex: 1;
    margin-left: 10px;
    padding: 10px 5px 5px 5px;
    border: solid;
    border-color: white;
    max-width: 100px;
    border-radius: 3px;
    color: white;
    text-align: center;
    left: 50%
}

.center {
    margin: auto;
}

.nav-item {
    flex: 1;
    color: white;
    
    margin-left: 10px;
    padding: 10px 5px 5px 5px;
    border-left: solid;
    border-color: white;
    max-width: 150px;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.logo {
    flex: 2;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    
}

.chat-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
    margin-top: 80px;
}


.message-line {
    display: flex;
    flex-direction: row;
    width: 45%;
    min-height: 30px;
    margin-bottom: 15px;
}

.message-line-user {
    display: flex;
    flex-direction: row;
    width: 45%;
    min-height: 30px;
    margin-bottom: 15px;
    margin-left: auto;
}

.user {
    text-align: right;
    margin-top: -15px;
    margin-bottom: 20px;
}

.user-recieved {
    margin-top: -15px;
    margin-bottom: 20px;
}

.message {
    flex: 3;
    border-radius: 20px 20px 20px 0;
    background-color:rgb(231, 228, 228);

    padding: 10px;
}

.user-message {
    flex: 3;
    border-radius: 20px 20px 0 20px;
    background-color:rgb(184, 255, 251);
    padding: 10px;
}