@tailwind base;

@tailwind components;

@tailwind utilities;

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #910404;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.body {
    margin: 5px 10% 5px 10%;
}

.bottom-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 2%;;
    justify-content: space-between;
    width:80%;
    height: 55px;
    bottom: 0;
    border-radius: 10px 0px 10px 10px;
    background-color: rgb(184, 255, 251);
}

.send{
    display: flex;
    width: 100%;
    height: 70%;
    padding-left: 10px;
    border-radius: 10px 0 10px 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.send-field {
    padding-right: 40px;
    flex: 2;
    margin: auto;
    width: 100%;
    
    
}

.send-button{
    flex: 1;
    margin: auto;
    
    background-color: white;
    border: solid;

    
}

.nav-links {
    display: flex;
}

.nav-button {
    flex: 1;
    margin-left: 10px;
    padding: 10px 5px 5px 5px;
    border: solid;
    border-color: white;
    max-width: 100px;
    border-radius: 3px;
    color: white;
    text-align: center;
    left: 50%
}

.center {
    margin: auto;
}

.nav-item {
    flex: 1;
    color: white;
    
    margin-left: 10px;
    padding: 10px 5px 5px 5px;
    border-left: solid;
    border-color: white;
    max-width: 150px;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.logo {
    flex: 2;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    
}

.chat-box {
    padding-bottom: 20%;
}


.message-line {
    display: flex;
    flex-direction: row;
    width: 45%;
    min-height: 30px;
    margin-bottom: 15px;
}

.message-line-user {
    display: flex;
    flex-direction: row;
    width: 45%;
    min-height: 30px;
    margin-bottom: 15px;
    margin-left: auto;
}

.user {
    flex: 1;
}

.message {
    flex: 3;
    border-radius: 20px 20px 20px 0;
    background-color:rgb(177, 177, 177);

    padding: 10px;
}

.user-message {
    flex: 3;
    border-radius: 20px 20px 0 20px;
    background-color:rgb(184, 255, 251);
    padding: 10px;
}